.logo {
  font-family: 'TTHakgyoansimYeohaengR', sans-serif;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.0rem;
  color: #333;
}



.festival-list-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.festival-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.festival-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.2s;
}

.festival-card:hover {
  transform: translateY(-5px);
}

.festival-poster {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.festival-info {
  padding: 15px;
  text-align: center;
}

.festival-info h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

.festival-info p {
  font-size: 1rem;
  color: #666;
}

.loading-spinner,
.error-message {
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  margin: 20px 0;
}


/* 모바일 환경 대응 */
@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  nav ul li a {
    display: block;
    padding: 10px 0;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}

