
.festival-list-container {
  padding: 20px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  color: #2c3e50;
  margin-bottom: 20px;
}


.festival-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}


.festival-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
}

.festival-poster {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.festival-info {
  padding: 15px;
}

.festival-info h3 {
  font-size: 1.5rem;
  color: #2980b9;
  margin: 10px 0;
}

.festival-info p {
  color: #7f8c8d;
  font-size: 1rem;
  line-height: 1.5;
}


div {
  font-size: 1.2rem;
  color: #e74c3c;
}
